body {
  background-color: rgb(252, 252, 252);
  /* font-family: 'Bitter', serif;*/
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}



.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

.vertical-align-pagecenter {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container-fluid {
    width: 720px !important;
}

.fa-facebook-square {
  color: rgb(59, 89, 152);
}

.fa-twitter {
  color: rgb(0, 182, 241);
}

.fa-linkedin-square {
  color: rgb(0, 123, 182);
}

.fa-github {
  color: #333;
}

.fa-soundcloud {
  color: rgb(255, 85, 0);
}

.fa-bitcoin {
  color: rgb(255,153,0);
}

.fa-bitbucket {
  color: #205081;
}

.fa-pencil-square {
  color: #cc0000;
}

i:hover {
  opacity: 1.0;
}

i {
  opacity: 0.9;
}

.tooltip {
  font-size:0.5em;
  font-family: 'Open Sans', sans-serif;
  z-index: 0;
}

.tooltip-inner {
  border-radius: 10px;
  z-index: 0;
}

.row {
  padding-top: 2.1em;
}

.introbox {
  color: #333;
  margin:15px 0px;
  padding:2px 6px;
  font-size: 2em;
  font-weight:700;
}
